.container {
    display: flex;
    justify-content: center;
    z-index: 10;
    background-color: var(--black);
    position: fixed;
    /* position: absolute; */
    top: 0;
    width: 100%;
    padding: 8px;
    transition: all 0.3s;
    border-bottom: 5px solid var(--blue);
    box-shadow: 0 8px 8px rgba(0,0,0,0.4);
}

.nav {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 0; */
    align-items: center;
}

.logo  {
    margin: 0.4rem 2rem;
}

.logo p {
    font-size: 3.5rem;
    color: var(--white);
    font-weight: 700;
}

.login {
    border: 3px solid var(--blue);
    outline: none;
    background-color: var(--black);
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0.4rem 2rem;
    transition: all 0.4s;
    cursor: pointer;
}

.login p {
    transition: all 0.4s;
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 600;
}

.login:hover {
    background-color: var(--white);
    /* border-color: var(--white); */
    /* color: var(--black); */
    /* border-width: 3px; */
    /* transform: scale(1.03); */
}

.login:hover p{
    color: var(--black)
}

.logout {
    border: 3px solid var(--blue);
    outline: none;
    background-color: var(--black);
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0.4rem 2rem;
    transition: all 0.4s;
    cursor: pointer;
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 600;
}

/* .login p {
    transition: all 0.4s;
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 600;
} */

.logout:hover {
    background-color: var(--white);
    /* border-color: var(--white); */
    color: var(--pink);
    border-color: var(--pink);
    /* border-width: 3px; */
    /* transform: scale(1.03); */
}